.profile-container {
  position: relative;
  display: inline-block;

  .profile-icon {
    cursor: pointer;
  }

  .profile-card {
    width: 300px;
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    z-index: 1;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  &:hover .profile-card {
    display: block;
  }
}
